@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src: url("/fonts/hiragino-kaku-gothic-pro-w3.otf") format("OpenType"),
      url("/fonts/hiragino-kaku-gothic-pro-w3.ttf") format("TrueType"),
      url("/fonts/hiragino-kaku-gothic-pro-w3.woff") format("woff"),
      url("/fonts/hiragino-kaku-gothic-pro-w3.eot?#iefix") format("embedded-opentype"),
      url("/fonts/hiragino-kaku-gothic-pro-w3.woff2") format("woff2");
}
@font-face {
  font-family: "Hiragino Kaku Gothic Pro W6";
  src: url("/fonts/hiragino-kaku-gothic-pro-w6.otf") format("OpenType"),
      url("/fonts/hiragino-kaku-gothic-pro-w6.ttf") format("TrueType"),
      url("/fonts/hiragino-kaku-gothic-pro-w6.woff") format("woff"),
      url("/fonts/hiragino-kaku-gothic-pro-w6.eot?#iefix") format("embedded-opentype"),
      url("/fonts/hiragino-kaku-gothic-pro-w6.woff2") format("woff2");
}